html,
body,
#root,
.App {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root {
  background: linear-gradient(to right, #0670bd, #051e5e);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.md-editor-container {
  display: flex;
  flex-direction: row;
  margin: 10px 100px;
  height: 75vh;
  box-shadow: 0px 3px 14px 1px rgba(74, 74, 74, 0.2);
}

.md-editor-editarea {
  display: flex;
  flex-direction: row;
}

.md-editor-editarea {
  width: 53%;
}

.md-editor-line-nums,
.md-editor-textarea,
.md-editor-renderarea {
  border: none;
  resize: none;
  font-size: 14px;
  height: 100%;
}

.md-editor-textarea,
.md-editor-renderarea {
  padding: 10px;
}

.md-editor-textarea {
  background-color: lightgrey;
  width: 100%;
  height: 100%;
}

.md-editor-renderarea {
  width: 47%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 1px;
  border-left: 2px solid grey;
  background-color: darkgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.md-editor-textarea,
.md-editor-line-nums {
  font-family: monospace;
  line-height: 1.1rem;
}

.md-editor-line-nums > p {
  margin: 0;
}

.md-editor-line-nums {
  overflow: hidden;
  min-width: 2ch;
  width: 4ch;
  max-width: 20ch;
  padding-right: 5px;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border-right: 2px solid grey;
  color: #444;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 1px;
}
